# Compiled Python files
*.pyc
__pycache__/
Apps/Recargas_Web/__pycache__/
PF_AT/__pycache__/

# Virtual environment
/.venv/
venv/
ENV/

# Secret keys
*.secret

# IDE files (dependiendo del editor que uses)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Log files
*.log

# Database files
*.sqlite3
*.db

# Local configuration files (si los has personalizado)
local_settings.py

# Ignore pipenv virtual environment
/.venv/